@use "sass:math";
// 色
$white: #F9F2E5;
$white2: #FFFFFF;
$gray-title-line: #99958F;
$black-about: #272625;
$black: #222222;
$gray-tag: #332F27;
$gray-service-modal: #2C2C2C;
$white-service-modal: #707070;
$gray-news-line: #A4A4A0;
$beige-news: #BCB5A8;
$red: #F93212;
$shadow: #1d1d1d;


